html, body {
    height: 100%;
    margin: 0; /* Ensure the parent container has a defined height */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: #d0e6f7;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    color: #3476ab;
    text-align: center;
    height: 150px;
    font-size: 23px;
    padding-left: 10px; 
}

#header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 100px;
    height: 100px;
}

#header-logo-EKC {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto; /* Pushes the logo to the very right */
    width: 300px;
    height: auto;
    padding: 10px;
}

header h2 {
    display: flex;
    padding: 20px;

}
.wrapper {
    display: flex;
    flex-direction: row;
}

.side-nav {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: #2e6793;
    padding: 10px;
}

.side-nav #nav {
    display: flex;
    flex-direction: column;
}

.side-nav #nav a {
    padding: 30px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ddd;
    opacity: 0.6;
    transition: 0.3s;
}

.side-nav #nav a:hover {
    background-color: #3476ab;
    opacity: 1;
    transition: 0.3s;
}


.hamburger-menu {
    height: 40px;
    width: 40px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

#hamburgerImg {
    width: 40px;
    height: 40px;
    
}

#menu-toggle { /*hide checkbox*/
    display: none;
}

.menu-icon {
    display: flex;
    flex-direction: column;
   
    width: 10px;
    gap: 5px;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background: #ffffff;
    transition: 0.3s;
}

.menu {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    
    background: #2e6793;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu li {
    padding: 10px;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.6;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
    padding: 20px 30px;

    
}

.menu li a:hover {
    background-color: #3476ab;
    opacity: 1;
    transition: 0.3s;
}
#close {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    opacity: 0.6;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}


#menu-toggle:checked ~ .menu {
    display: block;
  }
  







main {
    flex: 1;
    font-size: 20px;
    padding: 20px;
    
}

.wrapper_inner {
    padding: 20px;
    background-color: #e6f0f7;
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #404040;
    color: #ffffff;
    border: 5px solid #b9b9b9; 
    padding: 30px;
    gap: 20px;
}


.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px; 
    flex-wrap: wrap;

    font-size: 12px;
    
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;

    flex: 1 1 calc(35% - 10px); /* Reduced gap between columns */
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;

}

#footer-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
}

#footer-logo img {
    width:20%;
    height: 20%;
    object-fit: contain;
}


@media (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }

    .side-nav {
        display: none;
    }

    header {
        height:100px;
        font-size: 14px;
    }

    #header-logo {
        width: 80px;
        height: auto;
    }

    #header-logo-EKC {
        width: 150px;
        height: auto;
    }

    main {
        padding: 10px;
    }

    footer {
        flex-direction: column;
        padding: 10px;
    }

    .footer-links {
        justify-content: center;
    }

    #footer-logo {
        justify-content: center;
    }

    #footer-logo img {
        display: none;
    }
}

@media (min-width: 601px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }
}
