html, body {
    height: 100%; /* Ensure the parent container has a defined height */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: #d0e6f7;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    color: #3476ab;
    text-align: center;
    height: 150px;
    font-size: 23px;
    padding-left: 10px; 
}

#header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 100px;
    height: 100px;
}

#header-logo-EKC {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto; /* Pushes the logo to the very right */
    width: 300px;
    height: auto;
    padding: 10px;
}

header h2 {
    display: flex;
    padding: 20px;

}
.wrapper {
    display: flex;
    flex-direction: row;
}

.side-nav {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: #2e6793;
    padding: 10px;
}

.side-nav #nav {
    display: flex;
    flex-direction: column;
}

.side-nav #nav a {
    padding: 30px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ddd;
    opacity: 0.6;
    transition: 0.3s;
}

.side-nav #nav a:hover {
    background-color: #3476ab;
    opacity: 1;
    transition: 0.3s;
}

.checkbtn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
   }



nav {
    padding: 1.5rem 2rem;
    background-color: #222831;
    color: #fff;
   }


.nav-mobile {
display: none;
}


#check:checked ~ .nav-mobile {
    display: block;
   }



.nav-mobile {
position: absolute;
top: 4.5rem;
left: 0;
background: #222831;
z-index: 1;
width: 200px;
}
.nav-mobile a {
color: #fff;
padding: 1rem 1.5rem;
display: block;
}





main {
    flex: 1;
    font-size: 20px;
    padding: 20px;
    
}

.wrapper_inner {
    padding: 20px;
    background-color: #e6f0f7;
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #404040;
    color: #ffffff;
    border: 5px solid #b9b9b9; 
    padding: 30px;
    gap: 20px;
}


.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px; 
    flex-wrap: wrap;

    font-size: 12px;
    
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;

    flex: 1 1 calc(35% - 10px); /* Reduced gap between columns */
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;

}

#footer-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
}

#footer-logo img {
    width:20%;
    height: 20%;
    object-fit: contain;
}




@media (max-width: 600px) { /*small screen*/

}

@media (min-width: 601px) { /*large screen*/
     nav .nav-mobile{
        display: none;
    }
    nav .checkbtn {
        display: none;
    }
    .side-nav {
        display: flex;
    }
    .wrapper {
        display: flex;
    }
    .wrapper_inner {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 600px) {
    .checkbtn {
    display: block;
    font-size: 5rem;
    position: absolute;
    top: 30px;
    left: 40px;
    }
   .nav-mobile {
    top: 160px;
    width: 100%;
    }
   .nav-mobile a {
    font-size: 2rem;
    padding: 2rem 3rem;
    }
   }